.topMenu__menuContainer {
  height: 80px;
  display: flex;
  padding: 20px 60px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 1000;
}

.topMenu__timeContainer {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.topMenu__rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.topMenu__smallGrayText {
  font-size: 10px;
  font-weight: 500;
  color: gray;
}

.topMenu__sessionCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed lightgray;
  border-radius: 4px;
  padding: 4px 8px;
}

.topMenu__timeText {
  font-size: 12px;
  font-weight: 600;
  color: black;
}
