.groupsPageContainer {
  display: flex;
  flex-direction: row;
}

.sectionWrapper {
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.productsList__productBox {
  width: 100%;
  height: 60px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  margin: 0;
}

.ulProductsWrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.productsList__productBoxImgContainer {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.p {
  margin: 0;
  padding: 0;
}

.productTitle {
  font-size: 14;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.smallGrayText {
  font-size: 10px;
  color: gray;
}

.productsList__productBoxTitleWrap {
  display: flex;
  flex-direction: column;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.productsList {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  position: relative;
  flex: 1 1 auto; /* Занимает всё доступное пространство */
  min-width: 0;
}

.productsList_closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
}

.productsList__title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.productsList__btnAddProduct {
  border: none;
  width: fit-content;
  height: 24px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: none;
  padding: 0 0 0 20px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  color: #00c300;
}

.productsList__btnAddProductIconWrap {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #00c300;
  color: #fff;
}

.productsList__btnAddProductIcon {
  width: 14px;
  height: 14px;
  display: block;
  fill: currentColor;
}
